In [1]:
import pandas as pd

url_dados: str = "https://raw.githubusercontent.com/profkalinowski/livroescd/main/iris.data"

atributos: list[str] = ["comprimento_sepala", "largura_sepala", 
                        "comprimento_petala", "largura_petala", 
                        "especie"]

iris: pd.DataFrame = pd.read_csv(url_dados, names=atributos)

iris.head()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [2]:
iris.dtypes

comprimento_sepala    float64
largura_sepala        float64
comprimento_petala    float64
largura_petala        float64
especie                object
dtype: object

In [11]:
from matplotlib import pyplot as plt

iris["largura_sepala"].plot(kind="line",
                            figsize=(8,4),
                            title="Largura da Sepala",)

plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [4]:
iris.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
iris.columns

Index(['comprimento_sepala', 'largura_sepala', 'comprimento_petala',
       'largura_petala', 'especie'],
      dtype='object')

In [8]:
iris.shape

(150, 5)

In [10]:
iris.describe()

       comprimento_sepala  largura_sepala  comprimento_petala  largura_petala
count          150.000000      150.000000          150.000000      150.000000
mean             5.843333        3.054000            3.758667        1.198667
std              0.828066        0.433594            1.764420        0.763161
min              4.300000        2.000000            1.000000        0.100000
25%              5.100000        2.800000            1.600000        0.300000
50%              5.800000        3.000000            4.350000        1.300000
75%              6.400000        3.300000            5.100000        1.800000
max              7.900000        4.400000            6.900000        2.500000

In [12]:
iris.sort_values(by="largura_sepala")

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
60,5.0,2.0,3.5,1.0,Iris-versicolor
62,6.0,2.2,4.0,1.0,Iris-versicolor
119,6.0,2.2,5.0,1.5,Iris-virginica
68,6.2,2.2,4.5,1.5,Iris-versicolor
87,6.3,2.3,4.4,1.3,Iris-versicolor
...,...,...,...,...,...
5,5.4,3.9,1.7,0.4,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa

In [13]:
iris.sort_values(by="largura_sepala", ascending=False)

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
15,5.7,4.4,1.5,0.4,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
53,5.5,2.3,4.0,1.3,Iris-versicolor
62,6.0,2.2,4.0,1.0,Iris-versicolor
68,6.2,2.2,4.5,1.5,Iris-versicolor
119,6.0,2.2,5.0,1.5,Iris-virginica
60,5.0,2.0,3.5,1.0,Iris-versicolor

In [14]:
iris[7:11]

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa

In [16]:
iris.loc[7:11, ['largura_sepala', 'largura_petala', 'especie']]

    largura_sepala  largura_petala      especie
7              3.4             0.2  Iris-setosa
8              2.9             0.2  Iris-setosa
9              3.1             0.1  Iris-setosa
10             3.7             0.2  Iris-setosa
11             3.4             0.2  Iris-setosa

In [17]:
iris[iris['largura_sepala'] > 3.5]

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
44,5.1,3.8,1.9,0.4,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
109,7.2,3.6,6.1,2.5,Iris-virginica
117,7.7,3.8,6.7,2.2,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica

In [18]:
iris.groupby(by="especie").mean()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala
especie,,,,
Iris-setosa,5.006,3.418,1.464,0.244
Iris-versicolor,5.936,2.770,4.260,1.326
Iris-virginica,6.588,2.974,5.552,2.026

In [19]:
from matplotlib import pyplot as plt

plt.scatter(iris['comprimento_sepala'], iris['largura_petala'])
plt.title("Comprimento da Sepala x Largura da Petala")
plt.xlabel("Comprimento")
plt.ylabel("Largura")

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
cores: dict[str, str] = {
    'Iris-setosa': 'red',
    'Iris-versicolor': 'green',
    'Iris-virginica': 'blue'
}

for i in range(len(iris["comprimento_petala"])):
    plt.scatter(iris.loc[i][])